@import "../utils/mixins";

@include mq(600px) {
  .app__container {
    display: flex;
    justify-content: space-between;
    background-color: var(--White);
    padding: 20px;
    height: 600px;
    .formDesk__container {
      padding: 50px 70px 10px;
      width: 650px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
