@import "../utils/mixins";
.header__container {
  background-image: url("../../assets/images/bg-sidebar-mobile.svg");
  height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: var(--fs-text);
  nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border-radius: 100%;
      border: 1px solid var(--Pastel-blue);
      color: var(--Alabaster);
      cursor: pointer;
      &.paint {
        background-color: var(--Pastel-blue);
        color: black;
      }
      span {
        font-weight: bold;
      }
    }
  }
  .headerInfo__container {
    display: none;
  }
}

@include mq(600px) {
  .header__container {
    background-image: url("../../assets/images/bg-sidebar-desktop.svg");
    width: 280px;
    height: auto;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    nav {
      flex-direction: column;
      padding-left: 12%;
      gap: 35px;
    }
    .headerItem__container {
      display: flex;
      align-items: center;
      gap: 10px;
      .headerInfo__container {
        display: block;
        display: flex;
        gap: 2px;
        font-size: var(--font-size);
        flex-direction: column;
        text-transform: uppercase;
        :nth-child(1) {
          color: var(--Light-gray);
          font-size: 1.2rem;
        }
        :nth-child(2) {
          color: var(--Alabaster);
          font-weight: 500;
          font-size: 1.3rem;
        }
      }
    }
  }
}
