@import "../utils/mixins";

.navButtons__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 10vh;
  button {
    cursor: pointer;
  }
  .backBtn {
    font-size: var(--fs-text);
    background-color: transparent;
    border: none;
    color: var(--Cool-gray);
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
  .nextBtn {
    font-size: var(--fs-text);
    background-color: var(--Marine-blue);
    padding: 10px 10px;
    font-weight: 500;
    border-radius: 5px;
    color: var(--White);
    border: 1px solid var(--Marine-blue);
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
  &.hidden {
    opacity: 0;
  }
}

@include mq(600px) {
  .navButtons__container {
    padding: 0;
    height: auto;
  }
}
