@import "../utils/mixins";

.addOns__container {
  @include form;
  @include titles;
  @include mainButton;
  .buttons__container {
    flex-direction: column;
    .button {
      font-size: var(--font-size);
      flex-direction: row;
      width: auto;
      align-items: center;
      .img__container {
        background-color: var(--White);
        border: 1px solid var(--Light-gray);
        width: 20px;
        height: 20px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.active {
        outline: 1px solid var(--Purplish-blue);
        background-color: var(--Alabaster);
        .img__container {
          background-color: var(--Purplish-blue);
          img {
            padding: 4px;
          }
        }
      }
      .text__container {
        .text2 {
          text-align: start;
        }
      }
      .text3__container {
        display: flex;
        margin-left: auto;
        color: var(--Purplish-blue);
      }
      :nth-child(3) {
        justify-content: end;
      }
    }
  }
}
