@import "../utils/mixins";

.confirm__container {
  @include form;
  @include titles;
  .detail__container {
    padding: 20px;
    background-color: var(--Alabaster);
    .detailPlan__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .planName__container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .planName {
          color: var(--Marine-blue);
          font-weight: 500;
          text-transform: capitalize;
        }
        .changeBtn {
          color: var(--Cool-gray);
          border: none;
          background-color: transparent;
          cursor: pointer;
          width: fit-content;
          text-decoration: underline;
        }
      }
      .planPrice__container {
        .planPrice {
          color: var(--Marine-blue);
          font-weight: 500;
        }
      }
    }
    hr {
      margin: 15px 0;
    }
    .detailAddOns__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .detailAddOns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .detailAddOns-name {
          color: var(--Cool-gray);
        }
      }
    }
  }
  .total__container {
    padding: 0 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .total {
      color: var(--Cool-gray);
    }
    .total-price {
      color: var(--Purplish-blue);
      font-weight: bold;
    }
  }
}
