@import "../utils/_mixins.scss";

.finishing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include form;
  .title {
    margin-top: 30px;
  }
  @include titles;
  padding: 80px 20px;
  .subtitle {
    text-align: center;
    line-height: 1.5;
  }
  .img__container {
    width: 80px;
    height: 80px;
    img {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

@include mq(600px) {
  .finishing__container {
    padding: 80px 20px;
  }
}
