@import "../utils/mixins";

.form {
  font-size: 1.3rem;
  @include form;
  @include titles;
  .inputs__container {
    background-color: var(--White);
    border-radius: 20px;
    label {
      display: block;
      margin-bottom: 16px;
      font-size: var(--fs-text);
      line-height: 1.5;
    }
    input {
      display: block;
      line-height: 1.5;
      width: 100%;
      padding: 6px 10px;
      color: var(--Cool-gray);
      font-size: var(--fs-text);
      border: 1px solid var(--Light-gray);
      &::placeholder {
        font-weight: 600;
        color: var(--Cool-gray);
      }
    }
  }
}

@include mq(600px) {
  .form {
    .inputs__container {
      label {
        font-size: 1.6rem;
        color: var(--Marine-blue);
        position: relative;
      }
      input {
        font-size: var(--fs-text);
        border-radius: 8px;
      }
    }
  }
}
