@mixin form {
  font-size: var(--font-size);
  height: auto;
  padding: 30px 20px;
  background-color: var(--White);
  border-radius: 10px;
  margin-top: -80px;

  @include mq(600px) {
    margin-top: 0;
    padding: 0;
  }
}

@mixin titles {
  .title {
    color: var(--Marine-blue);
    font-size: var(--fs-title);
    margin-bottom: 15px;
  }
  .subtitle {
    color: var(--Cool-gray);
    font-size: var(--fs-subtitle);
    font-weight: 400;
    margin-bottom: 20px;
  }
}

@mixin mainButton {
  .buttons__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .button {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;
      font-size: var(--fs-text);
      cursor: pointer;
      padding: 15px;
      border-radius: 10px;
      border: 1px solid var(--Light-gray);
      background-color: var(--White);
      &:hover,
      &:focus {
        background-color: var(--Alabaster);
        outline: 1px solid var(--Purplish-blue);
      }
      .img__container {
        width: 40px;
        height: 40px;
        img {
          width: 100%;
        }
      }
      .text__container {
        display: flex;
        flex-direction: column;
        align-items: start;
        line-height: 1.5;
        .text1 {
          color: var(--Marine-blue);
          font-weight: 700;
        }
        .text2 {
          color: var(--Cool-gray);
          font-size: 1.4rem;
        }
        .text3 {
          font-size: 1.4rem;
          color: var(--Marine-blue);
          font-weight: 500;
        }
      }
    }
    .text3__container {
      display: none;
    }
  }

  @include mq(600px) {
    .buttons__container {
      flex-direction: row;
      justify-content: space-between;
      .button {
        width: 150px;
        flex-direction: column;
        gap: 40px;
        align-items: baseline;
      }
    }
  }
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
