@import "../utils/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  --font-size: 16px;

  --fs-title: 2.8rem;
  --fs-subtitle: 1.6rem;
  --fs-text: 1.5rem;

  --mq-desktop: 600px;
}
html {
  font-size: 62.5%;
  font-family: Ubuntu, sans-serif;
}
body {
  // font-size: var(--font-size);
  min-width: 375px;
}

@include mq(600px) {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--Magnolia);
  }
}
